@if (!isFullPage) {
  <div class="anime-details-character">
    <div class="section-header">
      <div class="section-title">
        <h5>Characters</h5>
      </div>

      <div class="section-button-all">
        <a routerLink="characters"
          >View All

          <fa-icon [icon]="faLongArrowAltRight" />
        </a>
      </div>
    </div>

    <div class="characters">
      @for (character of characters().slice(0, 16); track $index) {
        <app-character-card [character]="character" />
      }
    </div>
  </div>
} @else {
  <div class="anime-details-character">
    <ion-row>
      <ion-col>
        <div class="section-header">
          <div class="section-title">
            <h4>Characters</h4>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="characters">
          @for (character of characters(); track $index) {
            <app-character-card [character]="character" />
          }

          <ion-infinite-scroll (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      </ion-col>
    </ion-row>
  </div>
}
