<div class="anime-details-character">
  <!-- <ion-row> -->
  <!-- <ion-col> -->
  <div class="section-header">
    <div class="section-title">
      @if (isFullPage) {
        <h4>Characters</h4>
      } @else {
        <h5>Characters</h5>
      }
    </div>
    @if (isFullPage) {
      <div class="section-button-all">
        <!-- <Link to={`${pathname}/characters`}>
									View All
									<FontAwesomeIcon icon={faLongArrowAltRight} />
								</Link> -->
      </div>
    }
  </div>
  <!-- </ion-col> -->
  <!-- </ion-row> -->
  <!-- <ion-row> -->
  <!-- <ion-col> -->
  <div class="characters" [class]="isFullPage ? 'full' : ''">
    @for (character of characters(); track $index) {
      <app-character-card [character]="character" />
    }
    <!-- {characters.map((character, idx) => {
							if (
								characters.length === idx + 1 &&
								pathname.endsWith('characters')
							) {
								return (
									<div key={idx} ref={lastCharacterRef}>
										<CharacterCard {...character} />
									</div>
								)
							} else {
								return <CharacterCard key={idx} {...character} />
							}
						})} -->

    <!-- {loading && <Loader />} -->
  </div>
  <!-- </ion-col> -->
  <!-- </ion-row> -->
</div>
