<section class="search-bar" style="margin-top: 40px; margin-bottom: 60px">
  <ion-row>
    <ion-col>
      <div class="section-title">
        <h2>
          Search Your Ani
          <span>me</span>
        </h2>
      </div>
    </ion-col>
  </ion-row>
  <div class="search-menu">
    <ion-row>
      <ion-col>
        <form class="search-bar-container" (submit)="onSubmit($event)">
          <input
            type="search"
            placeholder="Search..."
            [formControl]="inputSearch"
          />
          <button class="search-bar-icon" type="submit">
            <ion-icon name="search-outline"></ion-icon>
          </button>
        </form>
      </ion-col>
    </ion-row>

    <div class="search-advanced">
      <ion-row>
        <ion-col size-md="3" size-sm="12">
          <app-select-menu
            menuTitle="Genres"
            [options]="genreOptions"
            [multiple]="true"
            [(selectedOptions)]="genres"
          />
        </ion-col>
        <ion-col size-md="3" size-sm="12">
          <app-select-menu
            menuTitle="Year"
            [options]="yearOptions"
            [(selectedOptions)]="year"
          />
        </ion-col>
        <ion-col size-md="3" size-sm="12">
          <app-select-menu
            menuTitle="Format"
            [options]="formatOptions"
            [multiple]="true"
            [(selectedOptions)]="formats"
          />
        </ion-col>
        <ion-col size-md="3" size-sm="12">
          <app-select-menu
            menuTitle="Status"
            [options]="statusOptions"
            [(selectedOptions)]="status"
          />
        </ion-col>
      </ion-row>

      <div class="tags-menu">
        <ion-row>
          <ion-col>
            <div class="tags-list">
              @for (genre of genres(); track $index) {
              <div class="tag no-hover" (click)="deleteGenre(genre)">
                <span>{{ genre.showName }}</span>
                <ion-icon name="close-outline"></ion-icon>
              </div>
              } @for (year of year(); track $index) {
              <div class="tag no-hover" (click)="deleteYear(year)">
                <span>{{ year.showName }}</span>
                <ion-icon name="close-outline"></ion-icon>
              </div>
              } @for (format of formats(); track $index) {
              <div class="tag no-hover" (click)="deleteFormat(format)">
                <span>{{ format.showName }}</span>
                <ion-icon name="close-outline"></ion-icon>
              </div>
              } @for (status of status(); track $index) {
              <div class="tag no-hover" (click)="deleteStatus(status)">
                <span>{{ status.showName }}</span>
                <ion-icon name="close-outline"></ion-icon>
              </div>
              }
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- </ion-col> -->
  <!-- </ion-row> -->
</section>
