/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* You can add global styles to this file, and also import other style files */
@import url("app/components/section/section.scss");
@import url("app/components/anime-card/anime-card.scss");

:root {
  --bg-primary: rgba(11, 12, 42, 1);
  --bg-secondary: rgba(7, 7, 32, 1);
  --bg-ternary: rgba(37, 36, 64, 1);

  --text-primary: rgba(255, 255, 255, 1);
  --text-secondary: rgba(183, 183, 183, 1);

  --main-font: "Mulish", sans-serif;
  --main-font-weight: 400;
  --header-font: "Oswald", sans-serif;

  --active: rgb(229, 54, 55);

  --grey: rgba(61, 61, 61, 1);
  --light-grey: rgba(255, 255, 255, 0.2);
}

/** || GENERAL STYLES */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: var(--bg-primary) !important;
  font-family: var(--main-font) !important;
  font-weight: var(--main-font-weight) !important;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}
a:hover,
a:visited {
  color: var(--text-primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--text-primary);
  font-weight: 700;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 15px;
  color: var(--grey);
  line-height: 25px;
  margin: 0 0 15px 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

select:focus,
textarea:focus {
  outline: none;
}

input[type="search"] {
  outline-offset: 0;
}

.primary-btn {
  font-size: 13px;
  color: var(--text-primary);
  background-color: var(--active);
  font-weight: 700;
  border: none;
  border-radius: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
}

.primary-btn:focus {
  border: none;
  box-shadow: none;
}

.primary-btn:hover {
  background-color: rgb(214, 49, 49);
}

.tag {
  background-color: var(--light-grey);
  color: var(--text-primary);
  padding: 8px 16px;
  border-radius: 4px;
}

.tag:not(.no-hover):hover {
  background-color: white;
  color: black;
}

/** Loader and Page Loader  */
.loading {
  width: 100%;
  text-align: center;
  color: var(--text-primary);
}
.page-loader {
  height: 80vmin;
  display: flex;
  align-items: center;
  z-index: 9999;
  background-color: var(--bg-primary);
}

ion-row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  // display: flex;
  // flex-wrap: wrap;
  // margin-top: calc(-1 * var(--gutter-y));
  // margin-right: calc(-0.5 * var(--gutter-x));
  // margin-left: calc(-0.5 * var(--gutter-x));
}

ion-grid ion-row > * {
  padding-inline: calc(1.5rem * 0.5);
}

.widget {
  background-color: var(--bg-ternary);
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 2rem;
}
