<a class="widget" [routerLink]="['/shared', sharedList().sharedList.id]">
  <span class="widget-title">{{ sharedList().sharedList.name }}</span>
  <span class="widget-subtitle">Group Members</span>
  <div class="avatar-container">
    @for (member of sharedList().members; track $index) {
      <img [src]="member.avatarUrl" [alt]="member.username" />
    }
    @if (sharedList().sharedListMembersNumber > 3) {
      <div class="stacked-avatar">
        +{{ sharedList().sharedListMembersNumber - 3 }}
      </div>
    }
  </div>
  <span class="widget-subtitle">Leaderboard</span>
  <ol class="leaderboard-container">
    @for (member of sharedList().members; track $index) {
      @if ($index < 3) {
        <li>
          <span class="position">{{ $index + 1 }}</span>
          <img [src]="member.avatarUrl" [alt]="member.username" />
          <span>{{ member.username }}</span>
        </li>
      }
    }
  </ol>
</a>
