.leaderboard-container {
  ion-list {
    background-color: transparent;
  }
  ion-item {
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;

    .rank {
      margin-right: 8px;
      font-weight: bold;
    }

    &:nth-child(1) .rank {
      color: var(--gold);
    }
    &:nth-child(2) .rank {
      color: var(--silver);
    }
    &:nth-child(3) .rank {
      color: var(--bronze);
    }

    ion-avatar {
      // --border-radius: 0;
      margin-right: 8px;
      width: 32px;
      height: 32px;
    }

    .role span {
      font-size: 10px;
      border: 1px solid transparent;
      background-color: transparent;
      padding: 2px 6px;
      border-radius: 6px;

      &.owner {
        border-color: var(--active);
        background-color: color-mix(in srgb, var(--active) 20%, transparent);
      }

      &.editor {
        border-color: var(--ion-color-warning);
        background-color: color-mix(
          in srgb,
          var(--ion-color-warning) 20%,
          transparent
        );
      }
    }

    .more-actions {
      --border-radius: 100%;
      --padding-start: 8px;
      --padding-end: 8px;

      margin-left: 1rem;
    }
  }
}
