<div class="private-lists">
  <div class="widget">
    <div class="section-header">
      <div class="section-title">
        <h5>My Lists</h5>
      </div>
      <div class="section-button-all">
        <a routerLink="/watchlist">
          View All
          <!-- <fa-icon [icon]="faLongArrowAltRight" /> -->
          <!-- <ion-icon name="arrowForwardOutline" /> -->
        </a>
      </div>
    </div>
    <div class="widget-navigation">
      <div
        class="widget-navigation-item"
        [class.active]="status() === 1"
        (click)="status.set(1)"
      >
        Watching
      </div>
      <div
        class="widget-navigation-item"
        [class.active]="status() === 2"
        (click)="status.set(2)"
      >
        Completati
      </div>
      <div
        class="widget-navigation-item"
        [class.active]="status() === 3"
        (click)="status.set(3)"
      >
        Dropped
      </div>
    </div>
    <ul class="list-container">
      @for (anime of listedAnimes(); track anime.anime_id) {
        @let progress = 400 / anime.anime_episodes;
        <!-- @let progress = anime.last_episode_watched / anime.anime_episodes; -->
        <a [routerLink]="['/anime', anime.anime_id]">
          <li class="list-anime">
            <img [src]="anime.anime_cover" alt="`${anime.anime_title} image`" />
            <div class="list-anime-info">
              <span class="list-anime-title ellipsis">{{
                anime.anime_title
              }}</span>
              <div class="list-anime-progress">
                <ion-progress-bar
                  [value]="progress"
                  class="progress"
                ></ion-progress-bar>
                <div class="list-anime-episodes">
                  <span class="list-anime-episodes">Progress:</span>
                  <span class="list-anime-episodes number"
                    >{{ anime.last_episode_watched }}/{{
                      anime.anime_episodes
                    }}</span
                  >
                </div>
              </div>
            </div>
          </li>
        </a>
      }
    </ul>
  </div>
</div>
