<div class="private-lists">
  <div class="widget">
    <div class="section-header">
      <div class="section-title">
        <h5>My Lists</h5>
      </div>
      <div class="section-button-all">
        <a routerLink="watchlist">
          View All
          <!-- <fa-icon [icon]="faLongArrowAltRight" /> -->
          <!-- <ion-icon name="arrowForwardOutline" /> -->
        </a>
      </div>
    </div>
    <div class="widget-navigation">
      <div class="widget-navigation-item active">In Corso</div>
      <div class="widget-navigation-item">Completati</div>
      <div class="widget-navigation-item">Plan To Watch</div>
    </div>
    <ul class="list-container">
      <li class="list-anime">
        <img
          src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/small/bx16498-buvcRTBx4NSm.jpg"
          alt=""
        />
        <div class="list-anime-info">
          <span class="list-anime-title">Attack on Titan</span>
          <div class="list-anime-progress">
            <div class="progress"></div>
          </div>
          <span class="list-anime-episodes">Progress:</span>
          <span class="list-anime-episodes number">6/24</span>
        </div>
      </li>
      <li class="list-anime">
        <img
          src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/small/bx16498-buvcRTBx4NSm.jpg"
          alt=""
        />
        <div class="list-anime-info">
          <span class="list-anime-title">Attack on Titan</span>
          <div class="list-anime-progress">
            <div class="progress"></div>
          </div>
          <span class="list-anime-episodes">Progress:</span>
          <span class="list-anime-episodes number">6/24</span>
        </div>
      </li>
      <li class="list-anime">
        <img
          src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/small/bx16498-buvcRTBx4NSm.jpg"
          alt=""
        />
        <div class="list-anime-info">
          <span class="list-anime-title">Attack on Titan</span>
          <div class="list-anime-progress">
            <div class="progress"></div>
          </div>
          <span class="list-anime-episodes">Progress:</span>
          <span class="list-anime-episodes number">6/24</span>
        </div>
      </li>
      <li class="list-anime">
        <img
          src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/small/bx16498-buvcRTBx4NSm.jpg"
          alt=""
        />
        <div class="list-anime-info">
          <span class="list-anime-title">Attack on Titan</span>
          <div class="list-anime-progress">
            <div class="progress"></div>
          </div>
          <span class="list-anime-episodes">Progress:</span>
          <span class="list-anime-episodes number">6/24</span>
        </div>
      </li>
    </ul>
  </div>
</div>
