.side-anime-card {
  &:hover {
    .title {
      text-decoration: none !important;
    }
  }

  .episode-number {
    color: var(--active);
  }

  .add {
    position: absolute;
    right: 0;
    margin: 1rem;
  }

  .watched {
    position: absolute;
    right: 0;
    margin: 1rem;
    padding: 4px 8px;
    background-color: var(--grey);
    border-radius: 4px;
  }
}
