<div class="add-to-watchlist">
  <button
    class="primary-btn text"
    [class]="animeStatus() ? 'selected' : ''"
    (click)="showWatchlistMenu = !showWatchlistMenu"
  >
    {{ formattedAnimeStatus() }}
  </button>
  <button
    class="primary-btn icon"
    [class]="animeStatus() ? 'selected' : ''"
    (click)="showWatchlistMenu = !showWatchlistMenu"
  >
    <!-- <FontAwesomeIcon icon={faChevronDown} /> -->
    a
  </button>
  <div class="dropdown-menu" [class]="showWatchlistMenu ? 'show' : ''">
    <ul>
      <li class="dropdown-menu-item no-hover">Set as:</li>
      @for (list of userLists; track list.status) {
        @let isInList = list.status === animeStatus();
        <li
          class="dropdown-menu-item"
          [class]="isInList ? 'selected' : ''"
          (click)="handleList(list.status, isInList)"
        >
          {{ list.name }}
        </li>
      }
      <span>Add To List</span>
      @for (sharedList of sharedLists(); track $index) {
        @let isInList = sharedList?.anime_id ?? false;
        <li
          class="dropdown-menu-item"
          [class]="isInList ? 'selected' : ''"
          (click)="handleSharedList(sharedList.shared_list_id, isInList)"
        >
          {{ sharedList.shared_list_name }}
        </li>
      }
    </ul>
  </div>
</div>
