<div class="character-card">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="character-card-left">
          <img
            [src]="character().node.image.large"
            [alt]="character().node.name.first"
          />

          <div class="description">
            <div class="content">
              <!-- <FontAwesomeIcon icon={faCaretRight} /> -->
              <div>
                <div class="role">{{ character().role }}</div>
                <div class="name">{{ character().name }}</div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="character-card-right">
          <div class="description">
            <div class="content">
              <div>
                <div class="name">
                  {{ character().voiceActors[0]?.name?.full }}
                </div>
                <div class="role">
                  {{ character().voiceActors[0]?.languageV2 }}
                </div>
              </div>
              <!-- <FontAwesomeIcon icon={faCaretLeft} /> -->
            </div>
          </div>
          <img
            [src]="character().voiceActors[0]?.image?.large"
            [alt]="character().voiceActors[0]?.name?.full"
          />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
