<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>AnimeDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">AnimeDetails</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="anime-details">
    <ion-grid>
      <app-anime-description [details]="(details$ | async)" />
      <!-- <ion-router-outlet ></ion-router-outlet> -->
      <router-outlet />
    </ion-grid>
  </section>
</ion-content>
