<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-margin-start">Anime Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">AnimeDetails</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="anime-details">
    <ion-grid>
      <app-anime-description [details]="details$ | async" />
      <!-- <div class="sub-route-container">
        <ion-router-outlet></ion-router-outlet>
      </div> -->
      <router-outlet [routerOutletData]="{id: animeId }" />
    </ion-grid>
  </section>
</ion-content>
