<ion-row>
  <ion-col>
    <div class="section-header">
      <div class="section-title">
        <h4>{{ sectionTitle() }}</h4>
      </div>
      <div class="section-search">
        <input type="search" placeholder="Search Anime" />
      </div>
    </div>
  </ion-col>
</ion-row>
<ion-row>
  @for (anime of animes(); track $index) {
    <ion-col size-xs="6" size-md="4" size-lg="2">
      <app-anime-card [listedAnime]="anime" />
    </ion-col>
  }
  @if (hasNextPage()) {
    <div class="show-more">
      <span (click)="loadMore()">Show More</span>
    </div>
  }
  <!-- {Animes.map(({ animeId, animeCover, animeTitle }, idx) => (
          <Col xl={3} lg={4} md={6} sm={6} key={idx}>
            <AnimeCard
            id={animeId}
            coverImage={animeCover}
            title={animeTitle}
            contextMenu={Menu}
            list_id={ListID}
            actions={Actions}
            />
          </Col>
					))} -->
  <!-- {Loading ? (
						<Loader />
            ) : Animes.length > 0 ? (
              ShowMore && (
                <div className='show-more'>
                  <span onClick={ShowMore}>Show More</span>
                </div>
                )
                ) : (
                  <div className='no-results'>No Results</div>
                  )} -->
</ion-row>
