<div class="select" (appClickOutside)="showMenu.set(false)">
  <div class="select-button" (click)="showMenu.set(!showMenu())">
    <div>
      <div class="select-button-content">
        @if (selectedOptions().length > 0) {
        <span class="tag">
          {{ selectedOptions()[0]?.showName ?? 'Error No Name' }}
        </span>
        } @else {
        <span class="title">{{ menuTitle() }}</span>
        } @if (selectedOptions().length > 1) {
        <span class="tag">{{ `+${selectedOptions().length - 1}` }}</span>
        }
      </div>
      <fa-icon [icon]="faChevronDown" />
    </div>
  </div>
  <div class="select-menu" [class]="showMenu() ? 'show' : ''">
    <ul>
      @for (option of options(); track $index) {
      <li
        (click)="addToSelection(option)"
        [class.selected]="isSelected(option.name)"
      >
        {{ option.showName }}
      </li>
      }
    </ul>
  </div>
</div>
