<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <app-search-bar
      [(searchOptions)]="searchOptions"
      [(sort)]="sortOption"
      [(page)]="page"
      [(queryParamOptions)]="paramOptions"
      [(cleanupTrigger)]="cleanupTrigger"
    />
    <app-search-results
      [searchResults]="searchResults()"
      [query]="queryOptions().searchOptions?.search"
      [(sort)]="sortOption"
      [(page)]="page"
      [isLoading]="isLoading()"
    />
  </ion-grid>
  <!-- </section> -->
</ion-content>
