<div style="margin-bottom: 50px">
  <div class="section-header">
    <div class="section-title">
      <h5>{{ sectionName() }}</h5>
    </div>
    <div class="section-button-all">
      <a
        [routerLink]="navigationTarget().url"
        [queryParams]="navigationTarget().params"
      >
        View All
        <fa-icon [icon]="faLongArrowAltRight" />
      </a>
    </div>
  </div>
  @for (anime of animes(); track $index) {
  <app-side-anime-card [anime]="anime" />
  }
</div>
