.section-header {
  margin-bottom: 1rem;
}
.friend-container {
  > div:first-child {
    margin-bottom: 10px;
    color: var(--text-secondary);
    font-weight: 700;
    border-bottom: 1px solid var(--text-secondary);
    padding-block: 4px;
  }

  .container {
    max-height: 10rem;
    overflow-y: scroll;
  }
}

.friend-container li {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }
}

.friend-container img {
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
