.friend-container {
  // margin-inline: 20px;
}

.friend-container li {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }
}

.friend-container img {
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
