<div class="widget">
  <div class="section-header">
    <div class="section-title">
      <h5>Friends</h5>
    </div>
    <button class="primary-btn" style="display: inline">Add friend</button>
  </div>
  <ol class="friend-container">
    <li>
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/032/176/191/small/business-avatar-profile-black-icon-man-of-user-symbol-in-trendy-flat-style-isolated-on-male-profile-people-diverse-face-for-social-network-or-web-vector.jpg"
        alt=""
      />
      <span>a_str0</span>
    </li>
    <li></li>
    <li></li>
  </ol>
</div>
