.widget {
  margin-bottom: 0;
}
.actions {
  display: flex;
  justify-content: space-between;
}
.widget-title {
  display: block;
  font-size: 20px;
}

.widget-subtitle {
  color: var(--text-secondary);
  font-size: 14px;
  display: inline-block;
}

.inviter-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  img {
    width: 32px;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
  }
}

.avatar-container {
  display: flex;
  margin-bottom: 32px;
}

.avatar-container img {
  width: 32px;
  border-radius: 50%;
  margin-right: 4px;
}

.avatar-container .stacked-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.521);
  text-align: center;
  align-content: center;
}
