.anime-progress-container {
  ion-accordion {
    background-color: var(--bg-ternary);

    border-radius: 8px;
    margin-bottom: 8px;

    ion-item {
      --background: var(--bg-ternary);
      //   --inner-padding-top: 8px;
      --border-width: 0;

      img {
        border-radius: 8px;
        width: 100px;
        aspect-ratio: 1 / 1.5;
        object-fit: cover;
        margin-right: 8px;
      }
      span.ellipsis {
        font-size: 18px;
        line-clamp: 4;
        -webkit-line-clamp: 4;
      }
    }
    div[slot="content"] {
      .user-progress {
        display: flex;
        column-gap: 1rem;
        .user-info {
          display: flex;

          align-items: center;
          column-gap: 8px;
          width: 100px;

          img {
            width: 32px;
          }
        }
        .progress {
          flex: 1;
          display: flex;
          align-items: center;

          ion-progress-bar {
            flex: 5;
            border-radius: 50px;
            margin-right: 1rem;
          }

          span {
            flex: 1;
            text-align: center;
          }
        }
      }
    }
    .anime-action {
      display: flex;
      margin-top: 1rem;
      justify-content: end;

      ion-button {
        --color: var(--text-primary);
      }
    }
  }
}
.no-results {
  color: var(--light-grey);
}
