<div class="badges widget">
  <div class="section-header">
    <div class="section-title">
      <h5>My Badges</h5>
    </div>
    <div class="section-button-all">
      <button id="open-modal" (click)="openModal()">View All</button>
    </div>
  </div>
  <div class="badge-container">
    <div class="badge">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/032/176/191/small/business-avatar-profile-black-icon-man-of-user-symbol-in-trendy-flat-style-isolated-on-male-profile-people-diverse-face-for-social-network-or-web-vector.jpg"
        alt=""
      />
      <span class="badge-name">Otaku</span>
      <span class="badge-rank platinum">Platinum</span>
    </div>
    <div class="badge">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/032/176/191/small/business-avatar-profile-black-icon-man-of-user-symbol-in-trendy-flat-style-isolated-on-male-profile-people-diverse-face-for-social-network-or-web-vector.jpg"
        alt=""
      />
      <span class="badge-name">Otaku</span>
      <span class="badge-rank gold">Gold</span>
    </div>
    <div class="badge">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/032/176/191/small/business-avatar-profile-black-icon-man-of-user-symbol-in-trendy-flat-style-isolated-on-male-profile-people-diverse-face-for-social-network-or-web-vector.jpg"
        alt=""
      />
      <span class="badge-name">Otaku</span>
      <span class="badge-rank silver">Silver</span>
    </div>
    <div class="badge">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/032/176/191/small/business-avatar-profile-black-icon-man-of-user-symbol-in-trendy-flat-style-isolated-on-male-profile-people-diverse-face-for-social-network-or-web-vector.jpg"
        alt=""
      />
      <span class="badge-name">Otaku</span>
      <span class="badge-rank bronze">Bronze</span>
    </div>
  </div>
</div>

<ion-modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>I tuoi Badge</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cancel()">
            cancel
            <!-- <ion-icon slot="icon-only" name="close"></ion-icon> -->
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      @if (isLoading()) {
        <div class="ion-text-center ion-padding">
          <ion-spinner color="danger"></ion-spinner>
          <p>Sintonizzando i server di Crunchyroll...</p>
        </div>
      } @else {
        <ion-grid>
          <ion-row>
            @for (badge of badges(); track badge.id) {
              <ion-col size="6" size-md="4">
                <ion-card
                  [classList]="{
                    'badge-locked': !badge.unlocked,
                    'badge-secret': badge.isSecret && !badge.unlocked,
                    'rank-bronze': badge.highestRankUnlocked === 'BRONZE',
                    'rank-silver': badge.highestRankUnlocked === 'SILVER',
                    'rank-gold': badge.highestRankUnlocked === 'GOLD',
                    'rank-platinum': badge.highestRankUnlocked === 'PLATINUM',
                    'rank-secret': badge.highestRankUnlocked === 'SECRET',
                  }"
                >
                  <ion-card-content class="ion-text-center">
                    <div class="badge-icon-container">
                      @if (badge.isSecret && !badge.unlocked) {
                        <!-- <ion-icon
                          name="help-circle-outline"
                          class="badge-icon text-muted"
                        ></ion-icon> -->
                        <span>test</span>
                      } @else {
                        <!-- <ion-icon name="trophy" class="badge-icon"></ion-icon> -->
                        <span>immagine</span>
                      }
                    </div>

                    <ion-card-title class="badge-title">{{
                      badge.title
                    }}</ion-card-title>
                    <p class="badge-description ion-hide-sm-down">
                      {{ badge.description }}
                    </p>

                    @if (badge.nextRank) {
                      <div class="progress-container ion-margin-top">
                        <ion-progress-bar
                          [value]="badge.progressPercentage / 100"
                          color="danger"
                        ></ion-progress-bar>
                        <div class="progress-text">
                          {{ badge.currentValue }}/{{ badge.nextRankThreshold }}
                        </div>
                      </div>
                    } @else if (badge.unlocked) {
                      <ion-badge color="success" class="full-badge"
                        >MAX</ion-badge
                      >
                    }
                  </ion-card-content>
                </ion-card>
              </ion-col>
            }
          </ion-row>
        </ion-grid>
      }
    </ion-content>
  </ng-template>
</ion-modal>
