<div class="badges widget">
  <div class="section-header">
    <div class="section-title">
      <h5>My Badges</h5>
    </div>
  </div>
  <div class="badge-container">
    <div class="badge">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/032/176/191/small/business-avatar-profile-black-icon-man-of-user-symbol-in-trendy-flat-style-isolated-on-male-profile-people-diverse-face-for-social-network-or-web-vector.jpg"
        alt=""
      />
      <span class="badge-name">Otaku</span>
      <span class="badge-rank platinum">Platinum</span>
    </div>
    <div class="badge">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/032/176/191/small/business-avatar-profile-black-icon-man-of-user-symbol-in-trendy-flat-style-isolated-on-male-profile-people-diverse-face-for-social-network-or-web-vector.jpg"
        alt=""
      />
      <span class="badge-name">Otaku</span>
      <span class="badge-rank gold">Gold</span>
    </div>
    <div class="badge">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/032/176/191/small/business-avatar-profile-black-icon-man-of-user-symbol-in-trendy-flat-style-isolated-on-male-profile-people-diverse-face-for-social-network-or-web-vector.jpg"
        alt=""
      />
      <span class="badge-name">Otaku</span>
      <span class="badge-rank silver">Silver</span>
    </div>
    <div class="badge">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/032/176/191/small/business-avatar-profile-black-icon-man-of-user-symbol-in-trendy-flat-style-isolated-on-male-profile-people-diverse-face-for-social-network-or-web-vector.jpg"
        alt=""
      />
      <span class="badge-name">Otaku</span>
      <span class="badge-rank bronze">Bronze</span>
    </div>
  </div>
</div>
