<div class="badges widget">
  <div class="section-header">
    <div class="section-title">
      <h5>My Badges</h5>
    </div>
    <div class="section-button-all">
      <button class="primary-btn" id="open-modal" (click)="openModal()">
        View All
      </button>
    </div>
  </div>
  <div class="badge-container">
    @for (badge of unlockedBadges(); track badge.id) {
      <div class="badge">
        <img
          [src]="badge.imageUrl"
          [alt]="badge.title"
          [class]="badge.unlocked ? '' : 'locked'"
        />
        <span class="badge-title">{{ badge.title }}</span>
        <span
          class="badge-rank"
          [ngClass]="{
            bronze: badge.highestRankUnlocked === 'BRONZE',
            silver: badge.highestRankUnlocked === 'SILVER',
            gold: badge.highestRankUnlocked === 'GOLD',
            platinum: badge.highestRankUnlocked === 'PLATINUM',
            secret: badge.highestRankUnlocked === 'SECRET' && badge.isSecret,
          }"
          >{{ badge.highestRankUnlocked }}</span
        >
      </div>
    }
  </div>
</div>

<ion-modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()"> cancel </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Your Badges</ion-title>
        <ion-buttons slot="end">
          <ion-button disabled="true" style="opacity: 0">HIDDEN</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      @if (isLoading()) {
        <div class="ion-text-center ion-padding">
          <ion-spinner></ion-spinner>
          <p>Sintonizzando i server di Crunchyroll...</p>
        </div>
      } @else {
        <ion-grid>
          <ion-row>
            @for (badge of badges(); track badge.id) {
              <ion-col size="6" size-md="4">
                <div
                  class="badge-card"
                  [ngClass]="{
                    'badge-locked': !badge.unlocked,
                    'rank-bronze': badge.highestRankUnlocked === 'BRONZE',
                    'rank-silver': badge.highestRankUnlocked === 'SILVER',
                    'rank-gold': badge.highestRankUnlocked === 'GOLD',
                    'rank-platinum': badge.highestRankUnlocked === 'PLATINUM',
                    'rank-secret':
                      badge.highestRankUnlocked === 'SECRET' && badge.isSecret,
                  }"
                >
                  <div class="badge-content">
                    <span class="badge-title">{{ badge.title }}</span>
                    <img
                      class="badge-img"
                      [src]="badge.imageUrl"
                      [alt]="badge.title"
                    />
                    <p class="badge-description ellipsis">
                      {{ badge.description }}
                    </p>
                    @if (badge.nextRank) {
                      <div class="progress-container">
                        <ion-progress-bar
                          [value]="badge.progressPercentage / 100"
                        ></ion-progress-bar>
                        <div class="progress-text">
                          {{ badge.currentValue }}/{{ badge.nextRankThreshold }}
                        </div>
                      </div>
                    } @else if (badge.unlocked) {
                      <ion-badge color="success" class="full-badge"
                        >MAX</ion-badge
                      >
                    }
                  </div>
                </div>
              </ion-col>
            }
          </ion-row>
        </ion-grid>
      }
    </ion-content>
  </ng-template>
</ion-modal>
