<div style="margin-bottom: 50px">
  <ion-row>
    <ion-col>
      <div class="section-header">
        <div class="section-title">
          <h4>{{ sectionName() }}</h4>
        </div>
        <div class="section-button-all">
          <a [routerLink]="link()">
            View All
            <!-- <fa-icon [icon]="faLongArrowAltRight" /> -->
            <!-- <ion-icon name="arrowForwardOutline" /> -->
          </a>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    @for (anime of animes(); track anime.id) {
    <ion-col size-xs="6" size-lg="4">
      <app-anime-card [anime]="anime" />
    </ion-col>
    }
  </ion-row>
</div>
