<div style="margin-bottom: 50px">
  <div class="row">
    <div class="col">
      <div class="section-header">
        <div class="section-title">
          <h4>{{ sectionName() }}</h4>
        </div>
        <div class="section-button-all">
          <a [routerLink]="link()">
            View All
            <fa-icon [icon]="faLongArrowAltRight" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    @for (anime of animes(); track anime.id) {
      <div class="col-lg-4 col-md-6 col-sm-6">
        <app-anime-card [anime]="anime" />
      </div>
    }
  </div>
</div>
