.page-header {
  padding-inline: calc(0.75rem - 0.25rem);
}

.leader-message-container {
  padding: 8px;

  .leader-message-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--active);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px;

    span {
      font-weight: bold;
    }
    button {
      padding: 4px 6px;
      font-size: 16px;
    }
  }

  .leader-message-content {
    padding: 8px;
    border: 1px solid var(--active);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    input {
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      font-size: 20px;
      color: var(--active);
      &:disabled {
        font-style: italic;
      }
      &:focus-visible {
        outline-color: var(--active);
      }
    }
  }
  .list-actions {
    margin-top: 8px;
    .action {
      display: inline;
      margin-right: 1rem;
    }
    .editor-buttons {
      display: inline;
    }
  }
}
